.drygoods{
    width:100%;
    background-color: #eee;
    padding-bottom: 0.45rem;
}

.drygoods .buy_title h3{
    width: 50%;
    float: left;
    height: 0.3rem;
    margin-top: 0.05rem;
    line-height: 0.3rem;
    font-weight: bold;
    font-size: 0.12rem;
}
.drygoods .buy_title img{
    width: 0.3rem;
    height: 0.3rem;
    margin-top: -0.01rem;
}
.drygoods .select{
    background-color: #fff;
}
.drygoods .select section{
    width: 100%;
}
.drygoods .select section .select1_banner img{
    width: 100%;
}
.drygoods .select section .swiper-container{
    margin:0.08rem 0;
}
.drygoods .select section .swiper-container img{
    height: 1.02rem;
}
.drygoods .select section .swiper-container p{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.12rem;
    color: #656565;
}
.drygoods .select section .swiper-container a span{
    color: #ab4a68;
}
.drygoods .select section .swiper-container a del{
    color: #b0b0b0;
}
.drygoods .recommend{
    margin: 0 0.06rem;

}
.drygoods .recommend .recommend_flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.12rem;
}
.drygoods .recommend .recommend_flex .repeat_box{
    width: 1.52rem;
    background-color: #fff;
    margin-bottom: 0.04rem;
}
.drygoods .recommend .recommend_flex img{
    height: 1.52rem;
    width:1.52rem;
}
.drygoods .recommend .recommend_flex .repeat_box .recommend_text{
    padding: 0.1rem 0.08rem;
}
.drygoods .recommend .recommend_flex .repeat_box .recommend_text p{
    margin-top: 0.07rem;
    color: #9a9a9a;
}