
<link rel="stylesheet" type="text/css" href="css/cartfull.css">

<div class="cartfull">
	<div class="cartfull-title">
		<span class="iconfont cartfull-back" ng-click="back()">&#xe619;</span>
		<span >购物车</span>
		<span class="cartfull-choice" ng-click="edit()">编辑</span>
	</div>
	<div class="cartfull-list">
		<div class=" cartfull-list-title">
			<span class="iconfont">&#xe61f;</span>
			<span class="iconfont">&#xe600;</span>
			<span >快乐购商城</span>
		</div>
		<ul class="cartfull-list-desc">
			<li>
				<div><span class="iconfont">&#xe61f;</span></div>
				<div>
					<img ng-src="{{ modelTwo.pic }}" />
					<div>
						<span>{{ "【" + dataset.goods_jingle +"】"+modelTwo.goods_name }}</span>
						<span>规格:默认</span>
						<span>{{ modelTwo.goods_price1| currency:'￥' }}</span>
					</div>
				</div>
				<div>
					<span ng-click="sub()" class="sub">-</span>
					<span>{{ num }}</span>
					<span ng-click="add()" class="add">+</span>
				</div>
			</li>
		</ul>
		<div class="row cartfull-list-total">
			<span>总计:{{ modelTwo.goods_price1*num | currency:'￥' }}</span>
			
		</div>
	</div>
	<div class="countNav">
		<div><span class="iconfont">&#xe61f;</span><span>全选</span></div>
		<div ng-show="flag"><span>{{ modelTwo.goods_price1*num | currency:'￥' }}</span><span>共1件,不含运费</span></div>
		<div><a href="{{ editAddr }}" ng-click="delate()" ><span ng-bind="go"></span></a></div>
	</div>
</div>