<link rel="stylesheet" href="lib/swiper-3.3.1.min.css">
<link rel="stylesheet" href="css/clothes.css">
<div class="clothes">
    <div class="clothes_main">
        <div class="recommend">
            <div class="buy_title">
                <h3><img ng-src="img/ico_34.png" alt="">精选商品</h3>
            </div>
            <div class="clearfix"></div>
            <div class="recommend_list">
                <div class="recommend_flex" ng-repeat="y in clothesdata">
                    <div class="repeat_box" ng-repeat="x in y">

                        <img ng-src={{x.pic}} alt="">
                        <div class="recommend_text">
                            <h4 ng-bind="x.goods_jingle"></h4>
                            <p ng-bind="x.goods_name"></p>
                            <p><span style="color: #971f44;">{{x.goods_price1 | currency:'￥'}}</span>&nbsp;&nbsp;<del>{{x.goods_price2 | currency:'￥'}}</del></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

